p.game_name{line-height: 0.9; font-size: 15pt; font-style: bold;font-family: Russo One, sans-serif; color: black;}
p{line-height: 0.9em;}
p.game_rozdil{line-height: 1; font-size: 15pt; font-style: bold;font-family: Russo One, sans-serif; color: white;}
p.game_rozdi{line-height: 0.5; font-size: 40pt; font-style: bold;font-family: Russo One, sans-serif; color: black;}
p.game_gray{line-height: 0.9; font-size: 15pt; font-style: bold;font-family: Russo One, sans-serif; color: gray;}